<template>
  <div>

  <div>
    <b-btn v-b-modal.modal1 class="btn btn-success">Novi zadatak</b-btn>
    <br /><br />

    <!-- Modal Component -->
    <b-modal id="modal1" title="Novi zadatak" ok-only >
      <form @submit.prevent>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Naziv zadatka</span>
          </div>
          <input type="text" name="name" class="form-control" id="basic-url" aria-describedby="basic-addon3" v-model="name">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Naziv zadatka</span>
          </div>
          <textarea type="text" name="description" class="form-control todo-textarea" id="basic-url" aria-describedby="basic-addon3" v-model="description"></textarea>
        </div>
        <button class="btn btn-success" type="submit" v-on:click="addTask">Dodaj zadatak</button>
      </form>
    </b-modal>

    <!-- Modal Component -->
    <b-modal id="modal2" title="Promjena zadatka" ok-only >
      <form @submit.prevent>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Naziv zadatka</span>
          </div>
          <input type="text" name="name" class="form-control" id="basic-url" aria-describedby="basic-addon3" v-model="info.name">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Naziv zadatka</span>
          </div>
          <textarea type="text" name="description" class="form-control todo-textarea" id="basic-url" aria-describedby="basic-addon3" v-model="info.description"></textarea>
        </div>
        <button class="btn btn-success" type="submit" v-on:click="updateTask">Izmjena</button>
      </form>
    </b-modal>
  </div>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Izbriši?</th>
          <th scope="col">Naziv zadatka</th>
          <th scope="col">Promjena</th>
        </tr>
      </thead>

      <tr v-for="todo in todos" :row="todo">
        <td><input type="checkbox" :value="todo._id" v-model="checked"></td>
        <td><a :href="'/task/'+todo._id">{{todo.name}}</a></td>
        <td><b-btn v-b-modal.modal2 class="btn" @click="sendInfo(todo)">Promijeni</b-btn></td>
      </tr>
      <tfoot>
        <tr>
          <td>
            <button type="button" class="btn btn-danger" v-on:click="deleteTasks">Izbriši označeno</button>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>

  import axios from 'axios'

  export default {
    name: 'todo-list',
    data() {
      return {
        todos: [],
        info: '',
        id: '',
        name: '',
        description: '',
        checked: []
      }
    },
    mounted() {
      this.getTasks()
    },
    methods: {

      sendInfo(todo) {
        this.info = todo;
      },
      getTasks() {
        axios
          .get('http://localhost:8081/tasks')
          .then(
            result => {
              console.log(result)
              this.todos = result.data.docs
              console.log(this.todos)
            }),
            error => {
              console.log(error)
            }
      },
      addTask() {
        axios
          .post('http://localhost:8081/tasks', {
            "name": this.name,
            "description": this.description
          })
          .then(res => {
            this.name = ""
            this.description = ""
            this.getTasks()
            console.log(res)
          })
          .catch(err => {
            console.log(err)
          });
      },

      deleteTasks() {

        for(let i = 0; i < this.checked.length; ++i) {

          const id = this.checked[i]

          axios
            .delete(`http://localhost:8081/tasks/${id}`)
            .then(res => {
              console.log(res)
              this.getTasks()
            })
            .catch(err => {
              console.log(err)
            })
        }
      },
      updateTask() {

        axios
          .put(`http://localhost:8081/tasks/${this.info._id}`, {
            "name": this.info.name,
            "description": this.info.description
          })
          .then(res => {
              console.log(res)
              this.getTasks()
            })
            .catch(err => {
              console.log(err)
            })
      }
    }
  }

</script>

<style lang="css">
  
  .form-control, .input-group-text { 
    border-radius: 0px!important; 
    outline: 0!important; 
    -webkit-appearance:none; 
  }

  .form-control:focus{
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  .todo-input {
    padding: 10px 18px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    outline: 0;
  }
  .todo-textarea {
    padding: 10px 18px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
    outline: 0!important;
    resize: none;
  }
  :focus {
    outline: 0;
  }
</style>